<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DATAPedia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <h1>DATAPedia</h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Term</th>
      <th scope="col">Definition</th>
      <th scope="col">Common Applications/Source</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <th scope="row">1</th>
      <td>API</td>
      <td>An Application programming interface (API) is a set of defined rules and protocols that explain how applications talk to one another.</td>
      <td>Javascript, Python, etc</td>
    </tr>

    <tr>
      <th scope="row">2</th>
      <td>Big Data</td>
      <td>Refers to data that is so large, fast or complex that it's difficult or impossible to process using traditional methods yet growing exponentially with time.</td>
      <td>SQLite, Oracle, MySQL, etc</td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="1">Data Cleansing</td>
      <td>The process of preparing data for analysis by amending or removing incorrect, corrupted, improperly formatted, duplicated, irrelevant, or incomplete data within a dataset.</td>
     <td>Google Applications, Excel, Database</td>
    </tr>

    <tr>
      <th scope="row">4</th>
      <td colspan="1">Data Governance</td>
      <td>The system for defining the people, processes, and technologies needed to manage, organize, and protect a company’s data assets.</td>
      <td>None Applicable</td>
    </tr>
  </tbody>
</table>